<section>
    <div class="modal-header">
        <h3 class="modal-title">{{modalTitle}}</h3>
    </div>
    <div class="modal-body" ng-init="init()">
        <form name="payFeeUserForm" novalidate>

            <div class="row">
                <table class="table table-hover table-stripped table-condensed" thead>
                    <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>School Grade</th>
                        <th>Registered Classes</th>
                        <th>Baptismal Certificate</th>
                        <th>Exempt</th>
                        <th>Fee Due</th>
                        <th>Paid</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="reg in registrations"  >
                    <tr>
                        <td>{{reg.name}}</td>
                        <td>{{reg.schoolGrade}}</td>
                        <td>{{reg.glClass}}, {{reg.vnClass}}</td>
                        <td>{{reg.hasBaptismCert}}</td>
                        <td>{{reg.regTeacherExempt}}</td>
                        <td>{{reg.regFee}}</td>
                        <td>{{reg.regPaid}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table style="margin-left:30px">
                    <tr>
                        <td></td>
                        <td><span style="font-weight:bold; text-align:left;padding-right:10px;">Exempt</span><input type="checkbox" ng-model="payment.regTeacherExempt" ng-change="exemptToggle()"/></td>
                        <td><span style="font-weight:bold; text-align:left;padding-right:10px;">Late Registration</span><input type="checkbox" ng-model="payment.isLate" ng-change="lateToggle()"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:bold">Total due:</span></td>
                        <td><input type="text" id="regFee" style="width: 80px;" class="form-control" ng-readonly="true" ng-model="payment.regFee"></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:bold">Receipt Number:</span></td>
                        <td><input type="text" id="receipt" style="width: 100px;" class="form-control" ng-disabled="payment.regTeacherExempt" ng-model="payment.receipt" ng-required="!payment.regTeacherExempt"></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:bold">Check Number:</span></td>
                        <td><input type="text" id="checkNumber" style="width: 100px;" class="form-control" ng-disabled="payment.regTeacherExempt" ng-model="payment.checkNumber" ng-required="!payment.regTeacherExempt"></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:bold">Notes:</span></td>
                        <td colspan="3"><input type="text" id="notes" style="width: 600px;" class="form-control" ng-model="payment.comments"></td>
                    </tr>
                </table>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-disabled="payFeeUserForm.$invalid||(payment.regFee==payment.regPaid)" ng-click="ok()">Pay & Complete Registration</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>
</section>
