<section>
    <div class="modal-header">
        <h3 class="modal-title">{{modalTitle}}</h3>
    </div>
    <div class="modal-body" ng-init="init()">
        <form name="payFeeUserForm" novalidate>

            <div class="row">
                <table class="table table-hover table-stripped table-condensed" thead>
                    <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>School Grade</th>
                        <th>Registered Classes</th>
                        <th>Baptismal Certificate</th>
                        <th>Exempt</th>
                        <th>Fee Due</th>
                        <th>Paid</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="reg in registrations"  >
                    <tr>
                        <td>{{reg.name}}</td>
                        <td>{{reg.schoolGrade}}</td>
                        <td>{{reg.glClass}}, {{reg.vnClass}}</td>
                        <td>{{reg.hasBaptismCert}}</td>
                        <td>{{reg.regTeacherExempt}}</td>
                        <td>{{reg.regFee}}</td>
                        <td><input type="text" id="userRegFee" name="userRegFee" style="width: 50px;" class="form-control" ng-model="reg.regPaid" ng-blur="recalcTotal()" required></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table style="margin-left:30px">
                    <tr>
                        <td><span style="font-weight:bold">Exempt</span></td>
                        <td><input type="checkbox" ng-model="payment.regTeacherExempt" ng-change="exemptToggle()"/></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:bold">Total due:</span></td>
                        <td><input type="text" id="regFee" name="regFee" style="width: 80px;" class="form-control" ng-readonly="true" ng-model="payment.regFee" required></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:bold">Receipt Number:</span></td>
                        <td><input type="text" id="receipt" name="receipt" style="width: 100px;" class="form-control" ng-model="payment.receipt" required></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:bold">Check Number:</span></td>
                        <td><input type="text" id="receipt" name="receipt" style="width: 100px;" class="form-control" ng-model="payment.checkNumber" required></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:bold">Notes:</span></td>
                        <td><input type="text" id="notes" name="notes" style="width: 600px;" class="form-control" ng-model="payment.comments" required></td>
                    </tr>
                </table>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-disabled="formValid" ng-click="ok()">Pay & Complete Registration</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>
</section>
