<section>
    <div class="modal-header">
        <h3 class="modal-title">{{modalTitle}}</h3>
    </div>
    <div class="modal-body" ng-init="init()">
        <form name="registerUserForm" novalidate>
            <fieldset>
                <label>Student: (Saint, Last, Middle, First)</label>
                <div class="row">
                    <div class="form-group col-xs-3">
                        <input type="text" id="saintname" name="saintname" class="form-control" ng-model="user.saintName" placeholder="Saint Name">
                        <div class="help-block" ng-messages="registerUserForm.saintName.$error" ng-if="registerUserForm.saintName.$touched">
                            <p ng-message="required">Saint name is required.</p>
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        <input type="text" id="lastname" name="lastname" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
                        <div class="help-block" ng-messages="registerUserForm.lastName.$error" ng-if="registerUserForm.lastName.$touched">
                            <p ng-message="required">Last name is required.</p>
                        </div>
                    </div>
                    <div class="form-group col-xs-2">
                        <input type="text" id="middlename" name="middlename" class="form-control" ng-model="user.middleName" placeholder="Middle Name">
                    </div>
                    <div class="form-group col-xs-3">
                        <input type="text" id="firstname" name="firstname" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
                        <div class="help-block" ng-messages="registerUserForm.firstName.$error" ng-if="registerUserForm.firstName.$touched">
                            <p ng-message="required">First name is required.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-7">
                        <div class="row">
                            <div class="form-group col-xs-7">
                                <select class="form-control" id="gender" name="gender" ng-model="user.gender" required>
                                    <option value="">-- Select Gender --</option>
                                    <option value="MALE">MALE</option>
                                    <option value="FEMALE">FEMALE</option>
                                </select>
                                <div class="help-block" ng-messages="registerUserForm.gender.$error" ng-if="registerUserForm.gender.$touched">
                                    <p ng-message="required">Gender is required.</p>
                                </div>
                            </div>
                            <div class="form-group col-xs-5">
                                <input type="date" id="birthdate" name="birthdate" class="form-control" ng-model="user.birthDate" required>
                                <div class="help-block" ng-messages="registerUserForm.birthdate.$error" ng-if="registerUserForm.birthdate.$touched">
                                    <p ng-message="required">Birth date is required.</p>
                                </div>
                            </div>
                        </div>
                        <label>Student Father: (Last, First)</label>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <input type="text" id="fatherlastmame" name="fatherlastmame" class="form-control" ng-model="user.fatherLastName" placeholder="Father Last Name" required>
                                <div class="help-block" ng-messages="registerUserForm.fatherlastmame.$error" ng-if="registerUserForm.fatherlastmame.$touched">
                                    <p ng-message="required">Father last name is required.</p>
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <input type="text" id="fatherfirstmame" name="fatherfirstmame" class="form-control" ng-model="user.fatherFirstName" placeholder="Father First Name" required>
                                <div class="help-block" ng-messages="registerUserForm.fatherfirstmame.$error" ng-if="registerUserForm.fatherfirstmame.$touched">
                                    <p ng-message="required">Father first name is required.</p>
                                </div>
                            </div>
                        </div>
                        <label>Student Mother: (Last, First)</label>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <input type="text" id="motherlastmame" name="motherlastmame" class="form-control" ng-model="user.motherLastName" placeholder="Mother Last Name" required>
                                <div class="help-block" ng-messages="registerUserForm.motherlastmame.$error" ng-if="registerUserForm.motherlastmame.$touched">
                                    <p ng-message="required">Mother last name is required.</p>
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <input type="text" id="motherfirstmame" name="motherfirstmame" class="form-control" ng-model="user.motherFirstName" placeholder="Mother First Name" required>
                                <div class="help-block" ng-messages="registerUserForm.motherfirstmame.$error" ng-if="registerUserForm.motherfirstmame.$touched">
                                    <p ng-message="required">Mother first name is required.</p>
                                </div>
                            </div>
                        </div>
                        <label>Address:</label>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <input type="text" id="addressline" name="addressline" class="form-control" ng-model="user.address" placeholder="Address Line" required>
                                <div class="help-block" ng-messages="registerUserForm.addressline.$error" ng-if="registerUserForm.addressline.$touched">
                                    <p ng-message="required">Address is required.</p>
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                <input type="text" id="city" name="city" class="form-control" ng-model="user.city" placeholder="City" required>
                                <div class="help-block" ng-messages="registerUserForm.city.$error" ng-if="registerUserForm.city.$touched">
                                    <p ng-message="required">City is required.</p>
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                <input type="text" id="zipcode" name="zipcode" class="form-control" ng-model="user.zipCode" placeholder="Zip Code" required>
                                <div class="help-block" ng-messages="registerUserForm.zipcode.$error" ng-if="registerUserForm.zipcode.$touched">
                                    <p ng-message="required">Zip code is required.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-9">
                                <label for="formEmails">Emails:</label>
                                <ul id="formEmails">
                                    <li ng-repeat="email in user.emails" ng-class="{'selected':$index == selectedEmail}" ng-click="setClickedEmail($index)">
                                        {{email.owner}}: {{email.address}}
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group col-xs-1">
                                <button type="button" class="btn btn-primary btn-xs" ng-click="addNewEmail('lg')" data-toggle="tooltip" tooltip-placement="right" tooltip="Add a new email">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-disabled="user.emails.$isEmpty()" ng-click="removeEmail(selectedEmail)" data-toggle="tooltip" tooltip-placement="right" tooltip="Remove selected email">
                                    <i class="glyphicon glyphicon-minus-sign"></i>
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-disabled="user.emails.$isEmpty()" ng-click="editEmail(selectedEmail, 'lg')" data-toggle="tooltip" tooltip-placement="right" tooltip="Edit selected email">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-9">
                                <label for="formPhones">Phones:</label>
                                <ul id="formPhones">
                                    <li ng-repeat="phone in user.phones" ng-class="{'selected':$index == selectedPhone}" ng-click="setClickedPhone($index)">
                                        {{phone.owner}}: {{phone.number | phonenumber}}
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group col-xs-1">
                                <button type="button" class="btn btn-primary btn-xs" ng-click="addNewPhone('lg')" data-toggle="tooltip" tooltip-placement="right" tooltip="Add a new phone">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-disabled="user.phones.$isEmpty()" ng-click="removePhone(selectedPhone)" data-toggle="tooltip" tooltip-placement="right" tooltip="Remove selected phone">
                                    <i class="glyphicon glyphicon-minus-sign"></i>
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-disabled="user.phones.$isEmpty()" ng-click="editPhone(selectedPhone, 'lg')" data-toggle="tooltip" tooltip-placement="right" tooltip="Edit selected phone">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-5">
                        <div class="row">
                            <label ng-if="registrations!==undefined">Previous Registrations:</label>
                            <div class="row" ng-repeat="reg in user.registrations">
                                <p class="indented">{{reg.year}}: grade-{{reg.schoolGrade}}, {{reg.glClass}}, {{reg.vnClass}}</p>
                            </div>
                        </div>

                        <label>Registered for Classes:</label>
                        <div class=row">
                            <div class="form-group col-xs-3">
                                <select class="form-control" id="gradeLevel" name="gradeLevel" ng-model="user.current_reg.schoolGrade" ng-init="user.current_reg.schoolGrade" required>
                                    <option value="">-- Grade --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <div class="help-block" ng-messages="registerUserForm.gradeLevel.$error" ng-if="registerUserForm.gradeLevel.$touched">
                                    <p ng-message="required">Grade level is required.</p>
                                </div>
                            </div>
                            <div class="form-group col-xs-5">
                                <select class="form-control" id="glClass" name="glClass" ng-model="user.current_reg.glClass" ng-init="user.current_reg.glClass" ng-change="glClassChange()">
                                    <option value="">-- GL --</option>
                                    <option value="gl-01">GL-01</option>
                                    <option value="gl-02">GL-02</option>
                                    <option value="gl-03">GL-03</option>
                                    <option value="gl-04">GL-04</option>
                                    <option value="gl-05">GL-05</option>
                                    <option value="gl-06">GL-06</option>
                                    <option value="gl-07">GL-07</option>
                                    <option value="gl-08">GL-08</option>
                                    <option value="pre-con">PRE-CON</option>
                                    <option value="confirmation">CONFIRMATION</option>
                                </select>
                                <div class="help-block" ng-messages="registerUserForm.glClass.$error" ng-if="registerUserForm.glClass.$touched">
                                    <p ng-message="required">glClass is required.</p>
                                </div>
                            </div>

                            <div class="form-group col-xs-4">
                                <select class="form-control" id="vnClass" name="vnClass" ng-model="user.current_reg.vnClass" ng-init="user.current_reg.vnClass">
                                    <option value="">-- VN --</option>
                                    <option value="vn-01">VN-01</option>
                                    <option value="vn-02">VN-02</option>
                                    <option value="vn-03">VN-03</option>
                                    <option value="vn-04">VN-04</option>
                                    <option value="vn-05">VN-05</option>
                                    <option value="vn-06">VN-06</option>
                                    <option value="vn-07">VN-07</option>
                                    <option value="vn-08">VN-08</option>
                                    <option value="vn-09">VN-09</option>
                                </select>
                                <div class="help-block" ng-messages="registerUserForm.vnClass.$error" ng-if="registerUserForm.vnClass.$touched">
                                    <p ng-message="required">vnClass is required.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label>Baptismal certificate&nbsp;&nbsp;</label>
                                <input type="checkbox" ng-model="user.hasBaptismCert"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <input type="text" id="issuedDate" name="issuedDate" class="form-control" ng-model="user.baptismDate" placeholder="Date" required>
                            </div>
                            <div class="form-group col-xs-8">
                                <input type="text" id="parish" name="parish" class="form-control" ng-model="user.baptismPlace" placeholder="Parish" required>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-disabled="formValid" ng-click="ok()">{{ok_text}}</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>
</section>
