<section>
  <div class="modal-header">
    <h3 class="modal-title">New Phone</h3>
  </div>
  <div class="modal-body">
    <form name="addPhone" novalidate>
      <fieldset>
        <div class="form-group" ng-class="{ 'has-error' : addPhone.phone.$invalid && addPhone.phone.$touched }">
          <input type="phone" name="phone" class="form-control" ng-model="modalData.phone" ng-minlength="10" ng-maxlength="16" placeholder="Phone" required>
          <div class="help-block" ng-messages="addPhone.phone.$error" ng-if="addPhone.phone.$touched">
            <p ng-message="minlength">Phone is too short</p>
            <p ng-message="maxlength">Phone is too long</p>
            <p ng-message="required">Phone is required</p>
          </div>
        </div>
      </fieldset>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-lg" ng-disabled="addPhone.$invalid" ng-click="ok()">Add</button>
    <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
  </div>
</section>
